/*
* Trunk version 2.0.1
*/

// Main styles
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components
@import "components/type-custom";
@import "components/brand";
@import "components/links";
@import "components/blocks";
@import "components/boxes";
@import "components/groups";
@import "components/units";
@import "components/lists";
@import "components/images";
@import "components/icons";
@import "components/tables";
@import "components/dividers";
@import "components/buttons";
@import "components/forms";
@import "components/posts";
@import "components/quotes";
@import "components/thumbnails";
@import "components/breadcrumbs";
@import "components/pagination-custom";
@import "components/snackbars";
@import "components/footers";

// Helpers
@import "helpers/page-layout";
@import "helpers/text-styling";
@import "helpers/offsets";
@import "helpers/sections";
@import "helpers/grid-modules";
@import "helpers/backgrounds";
@import "helpers/utilities-custom";

// Plugins
@import "plugins/animate";
@import "plugins/preloader";
@import "plugins/ui-to-top";
@import "plugins/rd-navbar";
@import "plugins/swiper";
@import "plugins/google-map";
@import "plugins/nav-custom";
@import "plugins/card-custom";
@import "plugins/material-parallax";
@import "plugins/slick";

// Custom

form {
	padding: 40px;
	font-size: 20px;

	h1 {
		margin-bottom: 30px;
		text-align: center;
	}

	.form-box {
		margin-bottom: 15px;

		label {
			display: inline-block;
			margin-bottom: 5px;
		}
		input {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}

		.error-text {
			margin: 5px 0 0 10px;
			font-size: 14px;
			color: rgb(0, 137, 250);
			visibility: hidden;
		}
	}
	.form-box.error {
		input {
			border: 1px solid rgb(0, 137, 250);
			background-color: rgba(0, 137, 250, 0.1);
		}
	}
	.form-box.error {
		.error-text {
			visibility: visible;
		}
	}

	.control-buttons {
		display: flex;
		justify-content: flex-end;
	}

	.clear,
	.send,
	.close {
		display: block;
		padding: 10px 0;
		margin-left: 10px;
		width: 100px;
		font-size: 18px;
		background-color: rgb(0, 140, 255);
		color: #fff;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: backgroung-color 0.3s;
	}

	.clear:hover,
	.send:hover,
	.close:hover {
		background-color: rgb(0, 107, 194);
	}

	.popup {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: -300px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 600px;
		height: 150px;
		background-color: #fff;
		border-radius: 8px;
		border: 2px solid black;
		transition: top .5s;

		p {
			font-size: 28px;
		}

		.close {
			margin-top: 20px;
		}
	}

	.show-popup {
		top: 100px;
	}
}
