/*
* Sections
*/

//
// Section Spacing
// 
.section-xs {
	padding: 25px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl,
.section-xl-2,
.section-xl-3 {
	padding: 60px 0;
}

.section-xxl {
	padding: 80px 0;
}

// Section collapse
.section-collapse + .section-collapse {
	padding-top: 0;
}

.section-collapse:last-child {
	padding-bottom: 0;
}

// Section with bottom zero padding
html [class*='section-'].section-bottom-0 {
	padding-bottom: 0;
}

@include media-breakpoint-down(lg) {
	section.section-sm,
	section.section-md,
	section.section-lg,
	section.section-xl,
	section.section-xxl {
		&:first-of-type {
			padding-top: 40px;
		}
	}
}

@include media-breakpoint-up(md) {
	.section-sm {
		padding: 60px 0;
	}

	.section-md {
		padding: 70px 0;
	}

	.section-lg {
		padding: 85px 0;
	}
	.section-xl,
	.section-xl-2,
	.section-xl-3 {
		padding: 100px 0;
	}
	.section-xxl {
		padding: 110px 0;
	}
}

@include media-breakpoint-up(lg) {
	.section-md {
		padding: 80px 0 90px;
	}

	.section-lg {
		padding: 100px 0;
	}
	.section-xl,
	.section-xl-2,
	.section-xl-3 {
		padding: 115px 0;
	}
	.section-xxl {
		padding: 145px 0;
	}
}

@include media-breakpoint-up(xl) {
	.section-lg {
		padding: 110px 0 135px;
	}
	.section-xl {
		padding: 135px 0;
	}
	.section-xl-2 {
		padding: 115px 0 135px;
	}
	.section-xl-3 {
		padding: 145px 0 155px;
	}
	.section-xxl {
		padding: 175px 0;
	}
}


//
// Custom sections
//

// Section single
.section-single {
	display: flex;
	text-align: center;

	p {
		margin-left: auto;
		margin-right: auto;
	}

	* + .rights {
		margin-top: 35px;
	}

	* + .countdown-wrap {
		margin-top: 35px;
	}

	.countdown-wrap + * {
		margin-top: 35px;
	}

	@include media-breakpoint-up(lg) {
		* + .rights {
			margin-top: 60px;
		}
		.countdown-wrap + * {
			margin-top: 35px;
		}
	}

	.rd-mailform-wrap {
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	* + .rd-mailform-wrap {
		margin-top: 20px;
	}
}

.section-single-header {
	padding: calc(1em + 3vh) 0 calc(1em + 2vh);
}

.section-single-main {
	padding: calc(1em + 4vh) 0;
}

.section-single-footer {
	padding: calc(1em + 2vh) 0 calc(1em + 3vh);
}

.section-single-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;

	> * {
		width: 100%;
	}
}

@supports (display: grid) {
	.section-single-inner {
		display: grid;
		justify-items: center;
		align-content: space-between;
		grid-template-columns: 1fr;
	}
}

.section-main-bunner {
	position: relative;
	overflow: hidden;
	padding: 80px 0 70px;
	background-color: $white;

	@include media-breakpoint-up(lg) {
		min-height: 700px;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 120px 0 100px;
	}

	.main-bunner-img {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;

		@include media-breakpoint-up(xl) {
			left: -100px;
			right: -100px;
			bottom: -100px;
			top: -100px;
			animation: bunner-img 10s infinite;
		}
	}

	.main-bunner-inner {
		position: relative;
		flex: 1;
		z-index: 1;

		* + h1 {
			margin-top: 30px;
		}

		.bunner-location {
			letter-spacing: .08em;
			text-transform: uppercase;
			font-weight: 400;

			.icon {
				font-size: 30px;
				margin-right: 10px;
				vertical-align: top;
				@include media-breakpoint-up(sm) {
					vertical-align: middle;
				}
			}

			a {
				display: inline-block;
			}
		}
	}

	&.section-main-bunner-filter {
		.main-bunner-img {
			opacity: 1;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			content: '';
			background: linear-gradient(359.73deg, #3A092F 0.9%, rgba(60, 55, 79, 0.45) 107.43%);
			z-index: 1;
		}

		background: $gray-600;
	}

}

@keyframes bunner-img {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1deg) scale(1.02);
	}

	100% {
		transform: rotate(0deg);
	}
}

.section-transform-top {
	position: relative;
	z-index: 1;
	transform: translateY(-12%);
	@include media-breakpoint-up(lg) {
		transform: translateY(-50%);
	}

}

.section-special {
	position: relative;
	min-height: 100vh;

	@include media-breakpoint-up(lg) {
		height: 100vh;
		min-height: 920px;
	}

	.section-special-img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(180deg, rgba(196, 196, 196, 0) -3.47%, $black 106.9%);
		}

		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50vw;
		}

		.block-video-button {
			.icon {
				color: $primary;
			}
		}
	}

	.section-special-content {
		@include media-breakpoint-up(lg) {
			position: relative;
			width: 50vw;

		}

		.section-special-content-inner {
			max-width: 700px;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(lg) {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 10%;
				min-height: 900px;
				height: 100%;
				//margin-right: 10%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
}

.section-special-content-body {
	padding-top: 30px;

	h2 {
		text-transform: capitalize;
		font-weight: 400;
	}

	* + h2 {
		margin-top: 15px;
	}

	* + .countdown {
		margin-top: 25px;
	}

	* + .section-special-content-form {
		margin-top: 25px;
	}

	* + .section-special-content-social {
		margin-top: 40px;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 45px;
		* + h2 {
			margin-top: 25px;
		}
		* + .countdown {
			margin-top: 45px;
		}
		* + .section-special-content-form {
			margin-top: 45px;
		}
		* + .section-special-content-social {
			margin-top: 60px;
		}
	}
}

.section-special-content-social {
	padding-bottom: 30px;
}

.section-special-content-form {
	.form-input {
		background: $white;
	}

	* + .small {
		margin-top: 12px;
	}

	.small {
		color: rgba($black, .75)
	}
}

.section-special-content-social {
	* + .list-inline {
		margin-top: 15px;
	}

	.list-inline {
		margin-left: -10px;
		margin-right: -10px;
	}

	li {
		padding: 10px;
	}

	.icon {
		text-align: center;
		border: 1px solid $gray-400;
		border-radius: 50%;

		&.icon-blue:hover {
			color: $white;
			border-color: #135DEC;
			background: #135DEC;
		}

		&.icon-blue-light:hover {
			color: $white;
			border-color: #35B7E0;
			background: #35B7E0;
		}

		&.icon-pink:hover {
			color: $white;
			border-color: #FF3951;
			background: #FF3951;
		}

		&.icon-violet:hover {
			color: $white;
			border-color: #2C3AB6;
			background: #2C3AB6;
		}
	}
}