/*
* Footers
*/

//
// Footer Classic
//

.footer-classic {
	padding: 90px 0;
	background: $gray-700;
	color: rgba($white, .7);

	@include media-breakpoint-up(xl) {
		padding: 130px 0;
	}

	.footer-title {
		color: $white;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: .1em;
	}

	.form-input {
		border-radius: 10em;
		background: rgba($white, .1);
		border-color: transparent;
	}

	.form-label {
		top: 28px;
		padding-left: 36px;
	}

	.form-input,
	.form-label {
		font-size: 17px;
		color: rgba($white, .8);
	}

	.form-validation {
		top: 2px;
		right: 40px;
	}

	.list-contact-info {
		a {
			color: rgba($white, .8);

			&:hover {
				color: $primary;
			}
		}
	}

	.icon-bg-white {
		background: rgba($white, .05);
		color: $white;
	}

}

.footer-title {
}

.footer-title + * {
	margin-top: 26px;
}

.footer-title + form {
	margin-top: 32px;
}

.footer-divider {
	width: 70px;
	margin-top: 33px;
	margin-bottom: 26px;

	.footer-classic & {
		border-top: 1px solid rgba($white, .1);
	}
}

.footer-modern, .footer-classic {
	.form-validation {
		color: $white;
	}
}

// footer modern
.footer-modern {
	position: relative;
	background: $gray-600;

	> .container {
		position: relative;
		z-index: 2;
	}

	p {
		color: rgba($white, .5);

		&.big {
			color: rgba($white, .8);

			a {
				margin-left: 10px;
				color: $white;

				&:hover {
					color: $primary;
				}
			}
		}

		&.rights {
			color: rgba($white, .5);

			a {
				color: rgba($white, .5);
			}
		}
	}

	* + .rights {
		margin-top: 25px;
	}

	* + .rd-mailform {
		margin-top: 30px;
	}

	.form-input {
		background: rgba($white, .1);
		border-color: transparent;
		color: rgba($white, .8);
	}

	.form-label {
		color: rgba($white, .8);
	}

	@include media-breakpoint-up(lg) {
		.google-map-container {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: calc(100vw - 60%);
			z-index: 3;

			.google-map {
				height: 100%;
			}
		}
	}

	.icon-bg-white {
		background: rgba($white, .05);
		color: $white;
	}

	.social-list {
		> li {
			margin-top: 0;
			@include media-breakpoint-up(md) {
				display: block;
				margin-bottom: 15px;
			}
		}
	}
}

// footer minimal
.footer-minimal {
	padding: 60px 0;
	text-align: center;
	background: $gray-600;
	@include media-breakpoint-up(lg) {
		padding: 90px 0;
	}

	.icon-bg-white {
		background: rgba($white, .05);
		color: $white;
	}

	* + .rights {
		margin-top: 45px;
	}

	.rights {
		color: rgba($white, .5);

		a {
			color: rgba($white, .5);
		}
	}

	.social-list li {
		margin-top: 0;
	}
}

.footer-minimal-nav {
	display: inline-block;

	li {
		padding: 0 20px;
		@include media-breakpoint-up(md) {
			display: inline-block;
		}
	}

	li + li {
		margin-top: 10px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			border-left: 1px solid rgba($white, 0.5);
		}

	}

	a {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .02em;
		text-align: center;
		color: $white;

		&:hover {
			color: $primary;
		}
	}
}