/*
* Lists
*/

/*
* Vertical list
*/
.list {
	> li + li {
		margin-top: 10px;
	}
}

.list-xs > li + li {
	margin-top: 5px;
}

.list-sm > li + li {
	margin-top: 10px;
}

.list-md > li + li {
	margin-top: 18px;
}

.list-lg > li + li {
	margin-top: 25px;
}

.list-xl > li + li {
	margin-top: 30px;
}

.list-xxl > li + li {
	margin-top: 30px;
	@include media-breakpoint-up(lg) {
		margin-top: 55px;
	}

}

.heading-list {
	#{headings()} {
		font-weight: 700;
	}

	li {
		* + p {
			margin-top: 30px;
		}
	}
}

@include media-breakpoint-up(md) {
	.list-xl > li + li {
		margin-top: 60px;
	}
}

/*
* List inline
*/
.list-inline {
	> li {
		display: inline-block;
	}
}

html {
	.list-inline-md {
		@include spacing(20px, 8px);

		@include media-breakpoint-up(lg) {
			@include spacingX(30px);
		}
	}
}

/*
* List terms
*/
.list-terms {
	dt + dd {
		margin-top: 5px;
	}

	dd + dt {
		margin-top: 25px;
	}
}

* + .list-terms {
	margin-top: 25px;
}

/*
* Index list
*/
.index-list {
	counter-reset: li;

	> li {
		.list-index-counter {
			&:before {
				content: counter(li, decimal-leading-zero);
				counter-increment: li;
			}
		}
	}
}

/*
* Marked list
*/
.list-marked {

	text-align: left;

	> li {
		position: relative;
		padding-left: 25px;

		&::before {
			position: absolute;
			display: inline-block;
			left: 0;
			top: -1px;
			min-width: 25px;
			content: '\f222';
			font-family: 'Material Design Icons';
			line-height: 23px;
			font-size: 15px;
			letter-spacing: -0.03em;
			color: $gray-800;
		}
	}

	> li + li {
		margin-top: 4px;
	}
}

* + .list-marked {
	margin-top: 15px;
}

p + .list-marked {
	margin-top: 10px;
}

/*
* Ordered List
*/
.list-ordered {
	counter-reset: li;

	text-align: left;

	> li {
		position: relative;
		padding-left: 25px;

		&:before {
			content: counter(li, decimal) '.';
			counter-increment: li;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 15px;
			color: $gray-800;
		}
	}

	> li + li {
		margin-top: 4px;
	}
}

* + .list-ordered {
	margin-top: 15px;
}


// List color
ul.list-color {
	max-width: 248px;
	margin-left: -4px;
	margin-right: -4px;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 8px;
	}
}

ul.list-contact-info {
	li + li {
		margin-top: 33px;
	}

	li {
		position: relative;
		padding-left: 35px;

		> * {
			display: inline-block;
		}

		.icon {
			position: absolute;
		}

		.icon-md {
			left: -4px;
			top: 5px;
		}

		.icon-sm {
			left: 0;
			top: -1px;;
		}
	}
}

// social list
ul.social-list {
	> li {
		display: inline-block;
	}

	@include spacing(20px);

	a:hover {
		color: $secondary;
		background: $primary;
	}

}


// category list
.category-list {
	> li + li {
		margin-top: 8px;
	}

	li {
		position: relative;
		padding-left: 30px;

		&:before {
			position: absolute;
			left: 0;
			color: $primary;
			content: '\f14f';
			font-family: 'Material Design Icons';
			line-height: 27px;
			font-size: 18px;
			letter-spacing: -0.03em;
			transition: all .3s;
			opacity: 0;
		}


		a {
			display: flex;
			justify-content: space-between;
			color: rgba($gray-800, .5);
		}

		&.active, &:hover {
			a {
				color: $gray-800;
			}

			&:before {
				opacity: 1;
			}
		}
	}
}